.select-language-dropdown {
  background: #ffffff !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 12px !important;
  div {
    min-width: 200px !important;
    overflow-x: hidden;
  }
}

.select-language-dropdown .ant-select-item-option {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #5a5a5a;
  padding-left: 10px;
}

.select-language-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  color: #817cba;
  font-weight: 600;
  background-color: #ffffff;
}

.select-language-dropdown .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background: #f9fbff;
  border-radius: 6px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
}

.container-login {
  flex: 1;
  flex-direction: row;
  display: flex;
  height: 100vh;
  background-image: url(../../assets/login-pos-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
  width: 100%;

  .form-logo {
    flex: 1;
    display: flex;
    margin-left: 380px;
    margin-top: 20vh;
  }

  .div-form {
    margin: auto 140px auto;
    flex: 1;
    display: flex;
    justify-content: end;

    .login-form {
      width: 528px;
      padding: 20px 32px 18px 32px;
      border-radius: 20px;
      background-color: #fff;
      box-shadow: 0px 0px 40px rgba(32, 56, 85, 0.2);

      .label-login {
        font-family: "Plus Jakarta Sans";
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0.3px;
        text-transform: capitalize;
        text-align: left;
        margin-top: 115px;
        margin-bottom: 24px;
      }
      .label-input {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.3px;
        color: #121212;
        opacity: 0.5;
        margin-bottom: 24px;
      }
      .forgot-password {
        justify-content: right;
        padding-bottom: 16px;

        .login-form-forgot {
          float: right;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          text-align: right;
          letter-spacing: 0.3px;
          color: #5a5a5a;
          text-align: right;
        }
      }
      .content-bottom {
        display: flex;
        justify-content: space-around;

        .ant-space.ant-space-vertical {
          text-align: center;
          gap: 0px!important;
        }
      }
      .ant-form-item {
        margin-bottom: 40px;
      }
      .login-btn {
        margin-bottom: 28px;
      }
    }

    .form-lang {
      float: right;
      .ant-select {
        min-width: 140px;
        .ant-select-selector:hover {
          box-shadow: none !important;
          border: none !important;
        }
        .ant-select-selector {
          border: none;
          .ant-select-selection-item {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            letter-spacing: 0.3px;
            color: #2b2162;
            min-width: 132px;
            padding-left: 16px;
            min-height: 0 !important;

            span {
              margin-right: 10px;
            }
          }
        }
        .ant-select-arrow {
          -webkit-user-select: none;
          user-select: all;
        }
      }

      .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
        border: none;
        box-shadow: none;
        outline: 0;
      }
    }

    .error-field {
      height: auto;
      width: 464px;
      background: #fff6ee;
      border: 1px solid #e47712;
      border-radius: 8px;
      margin-top: 33px;
      position: absolute;
      p {
        font-family: "Nunito";
        margin-bottom: 0;
        padding: 12px 24px;
        min-height: 25px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.3px;
        color: #e47712;
      }
    }

    .ant-input-affix-wrapper {
      border-radius: 16px;
      background: #ffffff;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
      height: 60px;
      border: none;
    }

    .ant-input-affix-wrapper:hover {
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
      border: none;
    }

    .ant-input-affix-wrapper:focus,
    .ant-input-affix-wrapper-focused {
      box-shadow: 0px 1px 4px #fc9434;
      border: none;
    }

    .ant-input-affix-wrapper-status-error,
    .ant-input-affix-wrapper-status-error:hover {
      border: 1px solid #ff0000;
    }

    .ant-input {
      font-size: 18px;
    }

    .ant-input-prefix {
      color: #9f9f9f;
      font-size: 18px;
      padding: 5px;
    }

    .ant-input-suffix {
      color: #9f9f9f;
      font-size: 18px;
      padding: 5px;
    }

    .ant-input:placeholder-shown {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.3px;
      color: #9f9f9f;
    }

    .ant-form-item-explain {
      margin-top: 5px;
      .ant-form-item-explain-error {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.3px;
        color: #ff0000;
        padding-top: 8px;
        position: absolute !important;
      }
    }

    .ant-btn {
      border-radius: 12px;
      background: #50429b;
      letter-spacing: 0.3px;
      height: 68px;
      font-size: 24px;
      line-height: 36px;
      font-weight: 500;
      font-style: normal;
      text-transform: uppercase;
      margin-bottom: 3px
    }

    /*Select Store*/
    .select-store-form {
      width: 528px;
      min-height: 666px;
      padding: 22px 32px 30px 32px;
      border-radius: 20px;
      background-color: #fff;
      box-shadow: 0px 0px 40px rgba(32, 56, 85, 0.2);

      a {
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 19px;
        color: #50429B;

        span {
          margin-right: 8px;
        }
      }

      .label-store {
        font-family: "Plus Jakarta Sans";
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0.3px;
        text-transform: capitalize;
        color: #323E40;;
        text-align: left;
        margin-top: 26px;
        margin-bottom: 24px;
      }

      .store-form {
        width: 464px;
        height: 500px;
        padding: 3px;
        overflow-y: scroll;

        .store-detail-form {
          width: 100%;
          height: 120px;
          border-radius: 16px;
          background-color: #FFFFFF;
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
          margin-bottom: 40px;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          .ant-space-item .ant-image {
            margin: 8px 12px 8px 8px;
          }

          span {
            font-family: 'Plus Jakarta Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #000;
          }
        }
      }
    }
  }

  .login-form-forgot {
    float: right;
  }
  .ant-col-rtl .login-form-forgot {
    float: left;
  }
  .login-form-button {
    width: 100%;
    border-radius: 15px;
    height: 40px;
  }

  .justify-content-center{
    justify-content: center;
    display: grid;
    .card-form{
      width: 350px;
      border-radius: 20px;
    }
  }
}

.modal-great {
  .ant-modal-content {
    height: 500px;
    .row-item {
      justify-content: center;
    }
    .btn-start {
      margin-top: 350px;
    }
  }
}

/* Scroll bar */
.store-form::-webkit-scrollbar {
  width: 3px;
}

.store-form::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 1.5px;
  background-color: #50429B;
}