
// Colors
$color-primary: #FF8C21;
$color-light-primary: #ff8c21bf;

$color-white: #FFFFFF;
$color-light-white: #FBFBFB;

$color-purple: #463796;
$color-light-purple-1: #50429B;
$color-light-purple-2: #817CBA;
$color-light-white-purple: #ECF1F9;

$color-black: #000000;
$color-light-black-1: #212121;
$color-light-black-2: #2C2C2C;
$color-light-black: #454545;

$color-red: #FC0D1B;
$color-light-red: rgba(219, 27, 27, 0.2);
$color-green: #33B530;
$color-light-green: rgba(51, 181, 48, 0.2);

$color-light-blue: #428BC1;

$bg-header-color: #F7F7F7;
$bg-btn-cancel-color: #F9F9F9;
$bg-overlay-color-1: rgba(0, 0, 0, 0.5);
$bg-overlay-color-2: rgba(0, 0, 0, 0.7);

$color-a5abde: #a5abde;
$color-9f9f9f: #9f9f9f;
$color-6050b2: #6050b2;
$color-f7f5ff: #F7F5FF;